@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fancyapps/ui/dist/carousel/carousel.css";


  .main-container{
    max-width: 1800px;
    padding-left:60px;
    padding-right: 60px;
  }
  
  .main-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size:1.7rem;
  }
.text-paragraph{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size:0.9rem;
}

/* @media (min-width: 768px) { */
  .f-carousel {
    --f-carousel-slide-spacing:20px !important;
    --f-carousel-slide-width: calc((100% - 40px) / 3) !important;
  }
.helloo{
  .h1d{
    color:red;
  }
}